<template>
	<div>
    <navbar @loginClicked="showLogin=true" @registerClicked="showRegister=true" @becomeHostClicked="showBecomeHost=true"></navbar>
    <modal v-show="showRegister" @modalClosed="showRegister=false">
      <Register @registered="handleRegistration"></Register>
    </modal>
    <modal v-show="showLogin" @modalClosed="showLogin=false">
      <Login @loggedIn="showLogin=false"></Login>
    </modal>
    <modal v-show="showBecomeHost" @modalClosed="showBecomeHost=false">
      <BecomeHost v-if="!showThankYou" @applicationSubmitted="showThankYou=true"></BecomeHost>
      <div v-else class="center-align">
        <h3> Thank you for applying!</h3>
        <h5> We'll review your application and get back you</h5>
      </div>
    </modal>
		<router-view></router-view>
	</div>
</template>
<script>
  import Navbar from "./Navbar.vue";
  import Modal from "./Modal.vue";
  import Login from './auth/Login.vue';
  import Register from './auth/Register.vue';
  import BecomeHost from './BecomeHost.vue';

  export default {
    name: "app",
    data(){
      return {
        showRegister: false,
        showLogin: false,
        showBecomeHost: false,
        showThankYou: false
      }
    },
    components: {
      Navbar,
      Modal,
      Login,
      Register,
      BecomeHost
    },
    methods:{
      handleRegistration(){
        this.showRegister=false;
        if (this.$route.query.action == "login")
          this.showLogin=true;
      }
    }
  }
</script>
<style>

</style>
