<template>
  <div class="center-align">
      <h3> Apply To Become A Host </h3>
      <h5> That's great! We first need some info about you </h5>
      <div class="input-field">
          <textarea v-model="user.bio" class="materialize-textarea" @focus="isActive = true" @blur="isActive = false"></textarea>
          <label :class="{active: isActive}">Bio</label>
      </div>
      <span class="waves-effect waves-light btn-large" @click="submitBecomeHost"> Submit </span>
  </div>
</template>
<script>
  export default{
    name: "become-host",
    data () {
      return {
        isActive: false,
        user: {
          bio: ""
        }
      }
    },
    methods: {
      submitBecomeHost () {
        let self = this
        axios.patch("/users/" + self.$store.state.currentUser.id, { bio: self.user.bio })
          .then(function(res){
            self.$store.commit('setCurrentUser', res.data);
            self.$router.push('/');
            self.$emit("applicationSubmitted");
          });
      }
    }
  }
</script>
<style>

</style>
