<template>
	<div>
		<section class="hero">
			<div class="hero-img">
				<div class="container center-align">
					<div class="row">
						<div class="col s12">
							<h1> Welcome <span v-if="loggedIn"> {{ this.user.email }} </span> </h1>
						</div>
						<div class="col s12">
							<a class="waves-effect waves-light btn-large"> Start Your Free Trial</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<router-view></router-view>
		</div>
	</div>
</template>
<script>
	import Navbar from "./Navbar.vue"
	export default {
		name: "home",
		components: {
			Navbar
		},
		data(){
			return{
				// loggedIn: false,
				// user: {}
			}
		},
		computed: {
			user: function(){
				return this.$store.state.currentUser;
			},
			loggedIn: {
					get: function() {
						return this.$store.state.isLoggedIn;
					},
					set: function() {

					}
			}
		},
		mounted () {
			this.fetchUser();
			this.$store.commit('setIsLoggedIn', this.isLoggedIn());
		},
		methods: {
			isLoggedIn(){
				return this.$auth.loggedIn();
			},
			fetchUser(){
				let self = this;
				axios.get("/users/me")
					.then(function(res){
						// self.user = res.data;
						// console.log(res);
						self.$store.commit('setCurrentUser', res.data);
					})
			}
		}
	}
</script>
<style>
	.hero .hero-img{
		background-image: url(https://images.unsplash.com/photo-1477281765962-ef34e8bb0967?dpr=2&auto=compress,format&fit=crop&w=1920);
		background-size: cover;
		min-height: 500px;
		padding-top: 230px;
	}
</style>
