<template>
  <div class="modal open">
    <div class="right modal-close" @click="modalClosed">
      <i class="material-icons">close</i>
    </div>
    <div class="modal-content">
      <slot></slot>
    </div>
    <!-- <div class="modal-footer">
      <slot name="footer"></slot>
    </div> -->
  </div>
</template>

<script>
  export default {
    name: "modal",
    methods:{
      modalClosed(){
        this.$emit('modalClosed');
      }
    }
  }
</script>

<style>
  .modal.open{
    z-index: 1005;
    display: block;
    opacity: 1;
    transform: scaleX(1);
    top: 10%;
  }

  .modal-close i{
    background: red;
  }
</style>
