<template>
	<nav>
	    <div class="nav-wrapper">
	    	<a href="#" class="brand-logo">Logo</a>
	      	<ul v-if="!loggedIn" id="nav-mobile" class="right hide-on-med-and-down">
	        	<li><a @click.prevent="loginClicked" href="#"> Login </a></li>
	        	<li><a @click.prevent="registerClicked" href="#"> Register </a></li>
	      	</ul>
	      	<ul v-else id="nav-mobile" class="right hide-on-med-and-down">
	      		<li><a @click.prevent="becomeHostClicked" href="#"> Apply to become a Host </a></li>
	        	<li> <a @click.prevent="logout" href="/"> Logout </a> </li>
	      	</ul>
	    </div>
	</nav>
</template>
<script>
	export default {
		name: "navbar",
		computed:{
			loggedIn:{
				get: function() {
					return this.$store.state.isLoggedIn;
				},
				set: function() {

				}
			}
		},
		methods: {
			loginClicked(){
				this.$emit('loginClicked');
			},
			registerClicked(){
				this.$emit('registerClicked');
			},
			becomeHostClicked(){
				this.$emit('becomeHostClicked');
			},
			isLoggedIn(){
				return this.$auth.loggedIn();
			},
			logout(){
				this.$store.commit('clearCurrentUser');
				this.$auth.destroyToken();
				this.$store.commit('clearIsLoggedIn');
				this.$router.push('/');
			}
		}
	}
</script>
<style>

</style>
