<template>
	<div class="center-align">
			<h1> Login </h1>
			<div class="input-field">
		      <input v-model="user.email" type="email" class="validate" @focus="isActive = true" @blur="isActive = false">
		      <label :class="{active: isActive}">Email</label>
		  </div>
		  <div class="input-field">
		      <input v-model="user.password" type="password" class="validate" @focus="isActive = true" @blur="isActive = false">
		      <label :class="{active: isActive}">Password</label>
		  </div>
		  <span class="waves-effect waves-light btn-large" @click="login"> Login </span>
	</div>
</template>
<script>
	export default{
		name: "login",
		data () {
			return {
				isActive: false,
				user: {
					email: "",
					password: "",
					id: ""
				}
			}
		},
		methods: {
			login () {
				let self = this
				axios.post("/user_token", { auth: self.user}).then(function(res){
						self.$auth.setToken(res.data.jwt, Date.now() + 14400000);
						axios.get("/users/me").then(function(res){
								self.$store.commit('setCurrentUser', res.data);
								self.$store.commit('setIsLoggedIn', true);
						});
						self.$router.push('/');
						self.$emit("loggedIn");
					})
			},
			reset () {
				self.user.email = "";
				self.user.password = "";
			}
		}
	}
</script>
<style>

</style>
