<template>
	<div class="row">
		<div class="col s6 push-s3 center-align">
			<h1> Register </h1>
			<div class="input-field">
		      <input v-model="user.email" type="email" class="validate" @focus="isActive = true" @blur="isActive = false">
		      <label :class="{active: isActive}">Email</label>
		    </div>
		    <div class="input-field">
		      <input v-model="user.password" type="password" class="validate" @focus="isActive = true" @blur="isActive = false">
		      <label :class="{active: isActive}">Password</label>
		    </div>
		    <div class="input-field">
		      <input v-model="user.password_confirmation" type="password" class="validate" @focus="isActive = true" @blur="isActive = false">
		      <label :class="{active: isActive}">Password Confirmation</label>
		    </div>
		    <span class="waves-effect waves-light btn-large" @click="login"> Sign Up </span>
		</div>
	</div>
</template>
<script>
	export default{
		name: "register",
		data () {
			return {
				isActive: false,
				user: {
					email: "",
					password: "",
					password_confirmation: ""
				}
			}
		},
		methods: {
			login () {
				let self = this
				axios.post("/users", self.user)
					.then(function(res){
						self.$router.push('/?action=login');
						self.$emit("registered");
					})
			},
			reset () {
				self.user.email = "";
				self.user.password = "";
				self.user.password_confirmation = "";
			}
		}
	}
</script>
<style>

</style>
